@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
                
*{
    background: black;
    color: white;
    left: 0;
    top: 0;
}
body{
    max-width: 1300px;
}
header{
     justify-content: space-between;
     align-items: center;
     margin: 20px 140px;
}
.display-flex{
    display: flex;
}
.p1{
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    font-family: Inter;
    margin: 0;
    padding: 0;
}
.p2{
font-size: 15px;
font-weight: 350;
line-height: 15px;
letter-spacing: 0.5px;
text-align: left;
}

.part1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.sidebar{
color: rgb(230, 83, 60);
font-family: Inter;
font-size: 36px;
font-weight: 800;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}

.home{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    cursor: pointer;
}

header .part1 .bar{
    cursor: pointer;
}

.page1{
    display: flex;
    justify-content: space-between;
    margin: 10px 150px;

}

.part2{
    width: 520px;
    height: 440px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;

}
.gtext{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 80px;
font-weight: 800;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
}
.sha{
    color: rgb(255, 255, 255);
    font-family: Miama;
    font-weight: 200;
    line-height: 50%;
    font-size: 120px;
    letter-spacing: 0%;
    text-align: left;

}
.but1{
    width: 154px;
    height: 54px;
    border-radius: 42px;
    cursor: pointer;
    text-align: center;
}


.tag1{
justify-content: space-between;
align-items: center;
position: absolute;
width: 150px;
height: 80px;
left: 740px;
top: 480px;
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
border-radius: 7px;
margin: auto;

}
.none{
    background-color: transparent;
    margin: 0;
    padding: 0;
}
.circle{
    color: red;
    font-size: 30px;
    margin-left: 7px;
}
.video{
font-size: 13px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.5px;
text-align: left;
margin-right: 7px;
}
li{
    list-style: none;
}
.tag2{
position: absolute;
width: 170px;
height: 70px;
left: 940px;
top: 210px;
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
backdrop-filter: blur(30px);
background: rgba(48, 48, 48, 0.54);
border-radius: 7px;
margin: auto;
align-items: center;
justify-content: center;
flex-direction: column;

}
.fa-thin fa-circle-play{
    color: red;
}

/* section2 */
.page2{
    margin: 20px 140px;
}

.page2-part1{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 150px;
}
.front-tag{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 40px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
margin: 0;
padding: 0;

}

.page2-part2{
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    margin-top: 10%;
}
.imgcard{
    object-fit: cover;
    border-radius: 50%; 
}

.card{
    width: 231px;
    height: 274px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.cardp{
font-size: 13px;
font-weight: 200;
line-height: 19px;
letter-spacing: 0.3px;
text-align: center;
}
.page3{
    margin: 50px 130px;
}
.background-color{
    background-color: rgb(34, 34, 34);
}
.page3d{
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    width: 960px;
    height: 350px;
}

.page3-part1{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.run{
    border-radius: 18px;
    width: 70%;
    height: 70%;
    margin-left: 160px;
}

/* page4 */
.page4{
    margin: 20px 140px;
}
img{
    width: 100%;
    height: 100%;
}
.row-1{
    display: grid;
    grid-template-columns: 15rem 30rem 15rem;
}
.row-2{
    display: grid;
    grid-template-columns: 25rem 15rem 20rem  ;
}

.page5{
    margin: 20px 140px;
}
.page5-part1{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 150px;
}
.page5p{
    text-align: center;
}
.image-container{
    margin-top: 40px;
    padding: 20px;
}
.rowp-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:15px;
}
.rowp-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    gap:15px;
}
.country-card{
    position: relative;
}
.country{
    position: absolute;
    background: transparent;
    left:2%;
    top:75%;
    font-weight: 800;
    font-size: 18px;

}
.country1{
    position: absolute;
    background: transparent;
    left:2%;
    top: 83%;
    font-weight: 300;
}
.img1{
    width: 100%;
    border-radius: 18px;
}


/* git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/inankarim/B10A2_inan.git
git push -u origin main
…or push an existing repository from the command line
git remote add origin https://github.com/inankarim/B10A2_inan.git
git branch -M main
git push -u origin main */
.page6-part1{
    justify-content:flex-start;
    align-items:flex-start; 
    flex-direction: column;
    margin: 20px 140px;
}
.page6-part2{
    justify-content: space-between;
    align-items: center;
    margin: 0; 
    padding: 0;
    height:350px;
}

.button-chart{
    margin-right: 120px;
}
.brow{
    border-radius: 8px;
background: rgba(255, 255, 255, 0.1);
width: 190px;
height: 40px;
margin: 5px 6px;
}
.brow3{
    width: 392px
}
.table{
    margin-left: 120px;
}
.broww3{
    flex-direction: column;
}
table {
    width: 300px;
    height: 160px; 
    border-collapse: collapse; 
}
.color{
    background-color: rgb(34, 34, 34);
}
.footer{
    display: flex;
    align-items: center;
    margin: 20px 180px;
}
.p7{
    text-align: left;
}


.prt1{
    margin-right: 200px;
}
.prt2 a{
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 120%;
letter-spacing: 0%;
text-align: center;
text-decoration: none;
cursor: pointer;
}
.prt2{
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
}
.prt2-p1{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.prt2-p2{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.p9{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
hr{
    color:  rgba(255, 255, 255, 0.5);
    margin: 0 2rem;
}
.ham-burg{
    display: none;
}
.page7-part1{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page7-part2{
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 
.but7{
    width: 300px;
    height: 50px;
    border-radius: 20px;
    color: orange;
}

@media screen  and (max-width:600px) {
    *{
        max-width: 550px;
    }
    .part1{
        display: none;
    }
    .ham-burg{
        display: block;
    }
    .page1{
        flex-direction: column;
        gap: 90px;
    }

    .tag1{
position: absolute;
width: 150px;
height: 72.58px;
left: 32px;
top: 830.38px;
 }
 .tag2{
position: absolute;
width: 150px;
height: 72.58px;
left: 270px;
top: 650.38px;
 }
 .gtext{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 80px;
font-weight: 800;
line-height: 100%;
letter-spacing: 1%;
text-align: left;
margin: 0;
padding: 0;
}
.sha{
    color: rgb(255, 255, 255);
    font-family: Miama;
    font-weight: 800;
    line-height: 100%;
    font-size: 100px;
    letter-spacing: 1%;
    text-align: left;
}
.part2{
    margin-right: 30%;
    width: 500px;
}
.button-two{
    display: flex;
    flex-direction: row;
}
.front-tag{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 25px;
font-weight: 900;
line-height: 100%;
margin: 0;
padding: 0;
}
.page2-part1{
        white-space: nowrap;
}
.page2-part2{
    flex-direction: column;
}
.card{
    margin-top: 30px;
}
.page3d{
    width: 350px;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
}
.page3-part1{
    margin-top: 10px;
    width: 250px;
    margin-right: 80px;
}
.page3-part2{
    margin-top: 20px;
}

.page6-part2{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin-left: 115px;
}
.button-chart{
    margin-right: 0px;
}
.table{
    margin-right: 200px;
}
.page5{
    margin-top: 200px;
}
.page5-part1{white-space: nowrap;
}
.rowp-1{
    grid-template-columns: 1fr;
}
.rowp-2{
    grid-template-columns: 1fr;
}
.footer{
    flex-direction: column;
}
.prt2{
    margin-top: 20px;
    margin-right: 240px;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    white-space: nowrap;
    gap:50px;
}
.run{
    border-radius: 18px;
    width: 90%;
    height: 90%;
    margin-left: 0px;
}
.resbut{
    width: 250px;
}
header{
    margin:0px 0px;
}
section{
    margin: 10px 20px;
}
.container {
    width: 200px;
}
.your-class {
    overflow-wrap: break-word;
    word-break: break-all;
}
.uniqbor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}